# Next.js
.next/
out/
build/

# Dependency directories
node_modules/
jspm_packages/

# Environment variables
.env*
!.env.example

# Databases
*.db
*.db-journal
prisma/dev.db

# OS Files
.DS_Store
Thumbs.db
.vercel

# Keys
preview_keys.txt
prod_keys.txt
